In [5134]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [5135]:
train_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')
test_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/test.csv')

In [5136]:
train_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [5137]:
test_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [5138]:
train_data.shape

(8693, 14)

In [5139]:
test_data.shape

(4277, 13)

In [5140]:
test = test_data['PassengerId']

In [5141]:
train_data.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [5142]:
test_data.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [5143]:
train_y = train_data['Transported']
train_x = train_data.drop(['PassengerId','Destination','Name','Transported'],axis=1)
test_y = test_data.drop(['PassengerId','Destination','Name'],axis=1)

In [5144]:
def filling_data(train_x):
    train_x['HomePlanet'].fillna(train_x['HomePlanet'].mode()[0], inplace=True)
    train_x['CryoSleep']=train_x['CryoSleep'].fillna(False)
    train_x['VIP'].fillna(train_x['VIP'].mode()[0], inplace=True)
    train_x['Age'].fillna(train_x['Age'].mean(), inplace = True)
    train_x['RoomService']=train_x['RoomService'].fillna(0)
    train_x['FoodCourt']=train_x['FoodCourt'].fillna(0)
    train_x['ShoppingMall']=train_x['ShoppingMall'].fillna(0)
    train_x['Spa']=train_x['Spa'].fillna(0)
    train_x['VRDeck']=train_x['VRDeck'].fillna(0)
    return train_x
train_x = filling_data(train_x)
test_y = filling_data(test_y)

In [5145]:
train_x['Cabin']=train_x['Cabin'].fillna(method='ffill')
test_y['Cabin']=test_y['Cabin'].fillna(method='ffill')
train_x['deck'] = train_x['Cabin'].apply(lambda x: x.split('/')[0])
train_x['num'] = train_x['Cabin'].apply(lambda x: x.split('/')[1])
train_x['side'] = train_x['Cabin'].apply(lambda x: x.split('/')[2])
test_y['deck'] = test_y['Cabin'].apply(lambda x: x.split('/')[0])
test_y['num'] = test_y['Cabin'].apply(lambda x: x.split('/')[1])
test_y['side'] = test_y['Cabin'].apply(lambda x: x.split('/')[2])

In [5146]:
del train_x['Cabin']
del test_y['Cabin']

In [5147]:
train_x.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side
0,Europa,False,39.0,False,0.0,0.0,0.0,0.0,0.0,B,0,P
1,Earth,False,24.0,False,109.0,9.0,25.0,549.0,44.0,F,0,S
2,Europa,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,A,0,S
3,Europa,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,A,0,S
4,Earth,False,16.0,False,303.0,70.0,151.0,565.0,2.0,F,1,S

In [5148]:
test_y.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side
0,Earth,True,27.0,False,0.0,0.0,0.0,0.0,0.0,G,3,S
1,Earth,False,19.0,False,0.0,9.0,0.0,2823.0,0.0,F,4,S
2,Europa,True,31.0,False,0.0,0.0,0.0,0.0,0.0,C,0,S
3,Europa,False,38.0,False,0.0,6652.0,0.0,181.0,585.0,C,1,S
4,Earth,False,20.0,False,10.0,0.0,635.0,0.0,0.0,F,5,S

In [5149]:
train_x.isna().sum()

HomePlanet      0
CryoSleep       0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
deck            0
num             0
side            0
dtype: int64

In [5150]:
test_y.isna().sum()

HomePlanet      0
CryoSleep       0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
deck            0
num             0
side            0
dtype: int64

In [5151]:
f = ['HomePlanet','CryoSleep','VIP','deck','num','side']
l = LabelEncoder()
for i in f:
  train_x[i] = l.fit_transform(train_x[i])
f1 = ['HomePlanet','CryoSleep','VIP','deck','num','side']
l = LabelEncoder()
for i in f1:
  test_y[i] = l.fit_transform(test_y[i])

In [5152]:
train_x.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side
0,1,0,39.0,0,0.0,0.0,0.0,0.0,0.0,1,0,0
1,0,0,24.0,0,109.0,9.0,25.0,549.0,44.0,5,0,1
2,1,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,0,1
3,1,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,0,1
4,0,0,16.0,0,303.0,70.0,151.0,565.0,2.0,5,1,1

In [5153]:
test_y.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side
0,0,1,27.0,0,0.0,0.0,0.0,0.0,0.0,6,820,1
1,0,0,19.0,0,0.0,9.0,0.0,2823.0,0.0,5,927,1
2,1,1,31.0,0,0.0,0.0,0.0,0.0,0.0,2,0,1
3,1,0,38.0,0,0.0,6652.0,0.0,181.0,585.0,2,1,1
4,0,0,20.0,0,10.0,0.0,635.0,0.0,0.0,5,1029,1

In [5154]:
train_x["MoneySpent"] = train_x["RoomService"] + train_x["FoodCourt"] + train_x["ShoppingMall"] + train_x["Spa"] + train_x["VRDeck"] 
test_y["MoneySpent"] = test_y["RoomService"] + test_y["FoodCourt"] + test_y["ShoppingMall"] + test_y["Spa"] + test_y["VRDeck"] 
train_x["Any_Spend"] = train_x["MoneySpent"] > 0
test_y["Any_Spend"] = test_y["MoneySpent"] > 0
train_x["Is_Child"] = train_x["Age"] <= 10
test_y["Is_Child"] = test_y["Age"] <= 10
train_x.head()
train_x.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side,MoneySpent,Any_Spend,Is_Child
0,1,0,39.0,0,0.0,0.0,0.0,0.0,0.0,1,0,0,0.0,False,False
1,0,0,24.0,0,109.0,9.0,25.0,549.0,44.0,5,0,1,736.0,True,False
2,1,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,0,1,10383.0,True,False
3,1,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,0,1,5176.0,True,False
4,0,0,16.0,0,303.0,70.0,151.0,565.0,2.0,5,1,1,1091.0,True,False

In [5155]:
test_y.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side,MoneySpent,Any_Spend,Is_Child
0,0,1,27.0,0,0.0,0.0,0.0,0.0,0.0,6,820,1,0.0,False,False
1,0,0,19.0,0,0.0,9.0,0.0,2823.0,0.0,5,927,1,2832.0,True,False
2,1,1,31.0,0,0.0,0.0,0.0,0.0,0.0,2,0,1,0.0,False,False
3,1,0,38.0,0,0.0,6652.0,0.0,181.0,585.0,2,1,1,7418.0,True,False
4,0,0,20.0,0,10.0,0.0,635.0,0.0,0.0,5,1029,1,645.0,True,False

In [5156]:
train_x["Any_Spend"] = train_x["Any_Spend"].astype(int)
test_y["Any_Spend"] = test_y["Any_Spend"].astype(int)
train_x["Is_Child"] = train_x["Is_Child"].astype(int)
test_y["Is_Child"] = test_y["Is_Child"].astype(int)

In [5157]:
train_x.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side,MoneySpent,Any_Spend,Is_Child
0,1,0,39.0,0,0.0,0.0,0.0,0.0,0.0,1,0,0,0.0,0,0
1,0,0,24.0,0,109.0,9.0,25.0,549.0,44.0,5,0,1,736.0,1,0
2,1,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,0,1,10383.0,1,0
3,1,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,0,1,5176.0,1,0
4,0,0,16.0,0,303.0,70.0,151.0,565.0,2.0,5,1,1,1091.0,1,0

In [5158]:
test_y.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side,MoneySpent,Any_Spend,Is_Child
0,0,1,27.0,0,0.0,0.0,0.0,0.0,0.0,6,820,1,0.0,0,0
1,0,0,19.0,0,0.0,9.0,0.0,2823.0,0.0,5,927,1,2832.0,1,0
2,1,1,31.0,0,0.0,0.0,0.0,0.0,0.0,2,0,1,0.0,0,0
3,1,0,38.0,0,0.0,6652.0,0.0,181.0,585.0,2,1,1,7418.0,1,0
4,0,0,20.0,0,10.0,0.0,635.0,0.0,0.0,5,1029,1,645.0,1,0

In [5159]:
#from sklearn import preprocessing
#scaler = preprocessing.MinMaxScaler()
#train_x[['Age','MoneySpent']]=scaler.fit_transform(train_x[['Age','MoneySpent']])
#test_y[['Age','MoneySpent']]=scaler.fit_transform(test_y[['Age','MoneySpent']])
#train_x.head()

In [5160]:
from sklearn.linear_model import LogisticRegression
r = LogisticRegression()
r.fit(train_x, train_y)
pred_y = r.predict(test_y)
r.score(train_x, train_y)
accuracy = round(r.score(train_x, train_y) * 100, 2)
accuracy

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

78.35

In [5161]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=600,max_leaf_nodes=300)
random_forest.fit(train_x, train_y)
pred_y = random_forest.predict(test_y)
random_forest.score(train_x, train_y)
accuracy = round(random_forest.score(train_x, train_y) * 100, 2)
accuracy

87.47

In [5162]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(train_x, train_y)
pred_y = knn.predict(test_y)
acc_knn = round(knn.score(train_x, train_y) * 100, 2)
acc_knn

85.29

In [5163]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(train_x, train_y)
pred_y = decision_tree.predict(test_y)
acc_decision_tree = round(decision_tree.score(train_x, train_y) * 100, 2)
acc_decision_tree

99.94

In [5164]:
from xgboost import XGBClassifier
xgb_model = XGBClassifier(gamma = 1.5,
                         subsample = 1.0,
                          max_depth = 5,
                       colsample_bytree = 1.0,
                       n_estimators = 100)
xgb_model = xgb_model.fit(train_x, train_y)
pred_y = xgb_model.predict(test_y)
acc = round(xgb_model.score(train_x, train_y) * 100, 2)
acc

84.59

In [5165]:
from catboost import CatBoostClassifier
model=CatBoostClassifier(iterations=1000,
                         eval_metric='Accuracy',
                         verbose=0)
model = model.fit(train_x, train_y)
pred_y = model.predict(test_y)
#accu = round(model.score(train_x, train_y) * 100, 2)
#accu

In [5166]:
result = pd.DataFrame({"PassengerId" : test.values, "Transported" : pred_y})

In [5167]:
result.to_csv("submission.csv", index = False)